.img-container
{
    width:200px;
    padding:25px;
    text-align: center;
}
.skillname
{
    text-align: center;

    font-family: 'Times New Roman', Times, serif;

}   
.skillwriteup
{
    
    text-align: justify;
    text-align: center;

} 
